<body>
  
<div id="navbar">
    
    <ul>
        <li><a (click)="changeView()" [routerLink]="['/home']">Students</a> </li>
        <li><a (click)="changeView()" [routerLink]="['/room']">Room</a></li>
        <li><a (click)="changeView()" [routerLink]="['/home']">Profile</a> </li>
        <li><a (click)="changeView()" [routerLink]="['/about1']">About</a></li>
        <li><a (click)="changeView()" [routerLink]="['/contactus']">Contact Us</a></li>
        <li><a (click)="changeView()" [routerLink]="['/photo']">Photo</a></li>
        <li><button (click)="changeView()" [routerLink]="['/login']">Logout</button></li>
    </ul>
    
 </div>  


    <div id="body">
        <h2 class="text-center">Our Facilities</h2>
    <p class="first">
        Hostel rooms are comfortably-furnished and make for a good home away from home. Girls and boys have separate blocks and each block has a fixed capacity. There is a range of accommodation options to choose from, for students’ convenience.</p>
    
    <p>    In this kind of accommodation, students have access to TV room, aqua guard for hot, cold and normal drinking water and other leisure/sports activities within the hostel premises. Also includes the following facilities:</p>
    <ul >    
         <li>24x7 Wi-Fi connectivity provided in all hostels</li>
         <li>cameras at entrances of all hostels and foyer inside the campus</li>
         <li>24x7 electricity and water supply in all the hostels</li>
         <li>Night cafeterias up to 1.00 AM</li>
         <li>Solar panels installed in all hostels for hot water </li>
         <li>Caretakers and housekeeping services are provided in all hostels during day and night</li>
         <li>Bike farm inside the campus for the students to buy and service their bicycle</li>
         <li>A scaled down version of Gyms in all hostels other than MARENA</li>
       </ul>  
        
        <h3>Sports Infrastructure within campus </h3>
        <ul >
            <li>Basketball court</li>
            <li>Cricket ground</li>
            <li>Hockey ground</li>
            <li>Indoor Badminton court</li>
            <li>Swimming pool</li>
            <li> tennis</li>
            <li>Chess</li>
            <li>Caroms</li>
        </ul>
    </div>
    </body>
    