

<div id="navbar">
    <ul>
        <li><a  [routerLink]="['/home']">Students</a> </li>
        <li><a  [routerLink]="['/room']">Room</a></li>
        <li><a  [routerLink]="['/food']">Food</a> </li>          
        <li><a  [routerLink]="['/about1']">About</a></li>
        <li><a  [routerLink]="['/contactus']">Contact Us</a></li>
        <li><a  [routerLink]="['/photo']">Photo</a></li>
        <li><button class="btn btn-primary"  style="background-color: rgb(217, 251, 252); color:black" [routerLink]="['/login']">Logout</button></li>
    </ul>
</div>


    <h2>Room List <span id="button">
    
        <button class="btn btn-secondary btn-lg"  style= "color: chocolate;background-color: pink;" [routerLink]="['/room']">Add room</button>
      </span></h2>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Room number</th>
                <th>No of Beds</th>
                <th>No of Students</th>
                
                <th>Action</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor = "let room of rooms">
                <td>{{room.id}}</td>
                <td>{{room.roomnumber}}</td>
                <td>{{room.no_of_Beds}}</td>
                <td>{{room.no_of_Students}}</td>
                
                <td>
                    <button (click)="updateRoom(room.id)" class="btn btn-info">Edit</button>
                    <button (click)="deleteRoom(room.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                </td>

            </tr>
                   
        </tbody>
    </table>


