section{
    background: linear-gradient(90deg,rgb(175, 211, 236) 0%, rgb(202, 156, 198) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width:81vw;
    height: 100vh;
}
#card{
    align-items: center;
   padding-top: 30px;
   padding-left: 40%;
   
}
#container h1{
    text-align: center;
    padding-top:30px;
    font-size: 40px;
    margin-bottom: 0px;
}
.lbl{
    font-size: 19px;
    color: #fff;
}
#roomview:hover{
    border-radius: 5px;
    background-color:cornflowerblue;
    
}
#button{
   
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    height: 60px;
    margin-bottom: -35px;
    padding-top: 10px;
    padding-right: 20px;
}

.btn:hover{
    background-color: cornflowerblue;
    border-radius: 10px;
    color: antiquewhite;
}
.form-control{
    font-size: 17px;
    width:300px;
    height:30px;
}
.submit{
    width:150px;
    height:33px;
    font-size: 18px;
}
.submit:hover{
    background-color: aqua;
}
img{
    width:100vw;
    height:85vh;
    display: block;
}
#navbar{
    display:flex;
    color: white;
    justify-content: space-evenly;
    background-color: rgb(42, 117, 117);
    margin: 0;
}

ul{
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    list-style: none;
}


a{
    text-decoration: none;
    padding-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: white
}

