section{
    background: linear-gradient(90deg,rgb(151, 247, 234) 0%, rgb(231, 131, 235) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width:81vw;
    height: 100vh;
}
#card{
    align-items: center;
   padding-top: 30px;
   padding-left: 40%;
   
}
h1{
    text-align: center;
    padding-top:60px;
    font-size: 40px;
}
.lbl{
    font-size: 19px;
    color: #fff;
}
.form-control{
    font-size: 17px;
    width:300px;
    height:30px;
}
.submit{
    width:150px;
    height:33px;
    font-size: 18px;
}
.submit:hover{
    background-color: aqua;
}