
<div id="container">
    <div id="deleteall">
    <button>Delete All</button>
</div>
    
    <table align="center" >
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <hr>
        <tr>
            <td>1</td>
            <td>Ranjitha</td>
            <td>ranjitha@gmail.com</td>
            
            <td>ranju</td>
            <td>8877665544</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ranjitha</td>
            <td>ranjitha@gmail.com</td>
           
            <td>ranju</td>
            <td>8877665544</td>
            <td>Delete</td>
        </tr>
    </table>
</div>
