img{
    width:81vw;
    height:85vh;
    display: block;
} 
#navbar{
    display:flex;
    color: white;
    justify-content: space-evenly;
    background-color: rgb(42, 117, 117);
    margin: 0;
}

ul{
    display: flex;
    align-items: center;
    width: 1000px;
    justify-content: space-between;
    list-style: none;
}
ul li button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    text-decoration: none;    
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

button{
    
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
    background-color: beige;
}