
<div id="container">
    <div id="deleteall">
        <button>Delete All</button>
    </div>
    
    <table align="center" >
        <tr>
            <th>Room number</th>
            <th>No. of Beds</th>
            <th>No. of Students</th>
            <th>Action</th>
            
        </tr>
        <hr>
        <tr>
            <td>1</td>
            <td>4</td>
            <td>4</td>
            <td>Delete</td>
            
           
        </tr>
        <tr>
            <td>2</td>
            <td>3</td>
            <td>3</td>
            <td>Delete</td>
           
            
        </tr>
    </table>
</div>
